<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off"/>
	<sessionState mode="Off" />
  </system.web>

  <appSettings>
    <!--aviran production db connection string -->
    <!--
    <add key="AdminDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=Agency_Admin;User Id=sa;Password=sasa" />
    <add key="CurrentAgencyDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=AGN_INN_0085;User Id=sa;Password=sasa" />
     -->
    <!-- /aviran-->

    <!--aviran local db connection string -->
  <!-- 
    <add key="AdminDBConnStr" value="Data Source=.; Initial Catalog=Agency_Admin; Integrated Security=True;"/>
 <add key="CurrentAgencyDBConnStr" value="Data Source=.;Initial Catalog=AGN_INN_0085;Integrated Security=True;"/> -->

    <!--/aviran-->
	
	    <!--aviran production db connection string -->
            
<!-- 
    <add key="AdminDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=Agency_Admin;User Id=sa;Password=sasa" />
    <add key="CurrentAgencyDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=AGN_INN_0077;User Id=sa;Password=sasa" />

    <add key="AdminDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=Agency_Admin;User Id=sa;Password=sasa" />
    <add key="CurrentAgencyDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=AGN_INN_0088;User Id=sa;Password=sasa" />
-->


	<add key="AgencyUserId" value="85" />
	<add key="AgencyDbType" value="INN" />
	<!-- <add key="AdminDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=Agency_Admin;User Id=sa;Password=sasa" /> -->
	<!-- <add key="CurrentAgencyDBConnStr" value="Data Source=172.16.17.9;Initial Catalog=AGN_^systemType^_^agencyId^;User Id=sa;Password=sasa" /> -->
    <add key="AdminDBConnStr" value="Data Source=.; Initial Catalog=Agency_Admin; Integrated Security=True;"/>
    <add key="CurrentAgencyDBConnStr" value="Data Source=.;Initial Catalog=AGN_INN_0085;Integrated Security=True;"/>
    <!-- /aviran-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Agency2000WSSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Agency2000WSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://web08.agency2000.co.il/agency2000WS/agency2000ws.asmx"
        binding="basicHttpBinding" bindingConfiguration="Agency2000WSSoap"
        contract="Agency2000WS.Agency2000WSSoap" name="Agency2000WSSoap" />
    </client>
  </system.serviceModel>
</configuration>
